# Copyright (c) 2026 Author. All Rights Reserved.
#
# ignoring __pycache___
#
__pycache__
*/__pycache__/*

*.sqlite3

*/__pycache__
**/__pycache__

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
